<% if @service %>
    <div class="service_container">
      <div class="service_info">
        <div class="service_name">
          <%=h @service.name %>
        </div>
        <div class="service_description">
          <%=h @service.description %>
        </div>
      
        <div class="people_that_have_this_service">
          <% if @service.users.size < 1 %>
            <div class="user">
              nobody is currently offering this service.
            </div>
          <% else %>
            <% @service.users.each do |u| %>
              <div class="user">
                  <%=h u.login %>
                  <%=h "(" + u.real_name + ")" if u.real_name %>
                  <%=h u.phone_number %>
              </div><br />
            <% end %>  
          <% end %>
        </div>
        
      </div>
    </div>
<% else %>
   There are no people that offer that service.
<% end %>
