<% if @services %>
  <% @services.each do |s| %>
    <div class="service_container">
      <div class="service_info">
        <div class="service_name">
          <%=h s.name %>
        </div>
        <div class="service_description">
          <%=h s.description %>
        </div>
      
        <div class="people_that_have_this_service">
          <% if s.users.size < 1 %>
            <div class="user">
              nobody is currently offering this service.
            </div>
          <% else %>
            <% s.users.each do |u| %>
              <div class="user">
                  <%=h u.login %>
                  <%=h "(" + u.real_name + ")" if u.real_name %>
                  <%=h u.phone_number %>
              </div><br />
            <% end %>  
          <% end %>
        </div>
        
      </div>
    </div>
  <% end %>
<% end %>
