<h1>Listing Access Keys</h1>

<table border=1>
  <tr>
	<th>User that can use this code</th>
    <th>Key Code</th>
    <th>Expiration</th>
  </tr>

<% @access_keys.each do |access_key| %>
<% user = User.find(access_key.user_id)%>
  <tr>
    <td><%=h user.real_name + " (#{user.login})"%></td>
    <td><%=h access_key.access_code %></td>
	<td><%=h access_key.expiration %></td>
    <td><%= link_to 'Show', :controller => :access_keys, :action => :show, :id => access_key %></td>
    <td><%= link_to 'Edit', :controller => :access_keys, :action => :edit, :id => access_key %></td>
    <td><%= link_to 'Destroy', [:admin,access_key], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Access Key', new_admin_access_key_path %>