<h1>New Access Key</h1>

<% form_for([:admin, @access_key]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.select :user_id, User.all.map{|u| [u.real_name + " (#{u.login})", u.id]}, :label => false %>
  </p>
  <p>
    <%= f.label :access_code %><br />
    <%= f.text_field :access_code %>
  </p>
  <p>
	<%= f.label :expiration %><br />
	<%= f.date_select :expiration %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_access_keys_path %>