<p>
  <b>User:</b>
  <%=h @user.real_name + " (#{@user.login})" %>
</p>
<p>
	<b>Access Code:</b>
	<%=h @access_key.access_code %>
</p>
<p>
  <b>expiration:</b>
  <%=h @access_key.expiration %>
</p>


<%= link_to 'Edit', edit_admin_access_key_path(@access_key) %> |
<%= link_to 'Back', admin_access_key_path %>