<h1>Editing poll</h1>

<% form_for([:admin, @poll]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :expiration %><br />
    <%= f.date_select :expiration %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<p>
  Options:<br />
  <ul>
    <% @poll.poll_options.each do |po| %>
        <li>
          <%= link_to "Delete", :controller => "admin/polls", :action => "remove_option", :id => po.id %>
        <%= po.address.address_parts.join(", ") %>
        </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Show', [:admin, @poll] %> |
<%= link_to 'Back', admin_polls_path %>