<h1>New <%= @link_page.is_link ? "Link" : "Page" %></h1>
If you want to create a sub menu, just create the menu item here, save, and then go edit this page and add the sub pages there.
<% form_for([:admin, @link_page]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :visible %><br />
    <%= f.check_box :visible%>
  </p>
    <%= f.hidden_field :is_link, :value => @link_page.is_link %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
