
<div class="users">
  Users
  <table>
    <tr>
      <td>login</td>
      <td>real name</td>
      <td>phone number</td>
      <td></td>
    </tr>
    <% @users.each do |u| %>
      <tr>
        <td><%=u.login%></td>
        <td><%=u.real_name%></td>
        <td><%=u.phone_number%></td>
        <td> <%= link_to "Remove / Delete", [u], :confirm => "Are you sure? It'll be gone forever.", :method => :delete %></td>
      </tr>
    <% end %>
  </table>

<%= link_to "Add User", new_user_path %>
</div>

<div class="services">
  Services
  <table>
    <tr>
      <td>Name of Service</td>
      <td></td>
    </tr>
    <% @services.each do |s| %>
      <tr>
        <td>
          <%= s.name %> 
        </td>
        <td>
                <%= link_to "Remove / Delete", [:admin, s], :confirm => "Are you sure? It'll be gone forever.", :method => :delete %>
        </td>
      </tr>
      
    <% end %>
  </table>

<%= link_to "Add Service", new_admin_service_path %>
</div>
n
<div class="pages">
  Pages
  <table>
    <tr>
      <td>name</td>
      <td>content</td>
      <td>isVisible?</td>
      <td>isLink?</td>
    </tr>
    <% @pages.each do |p| %>
      <tr>
        <td><%=h link_to p.name, edit_admin_link_page_path(p.id) %> </td>
        <td><%=h p.content.length > 300 ? "Content is too large to show" : p.content %> </td>
        <td><%= p.visible %></td>
        <td><%= p.is_link? %></td>
      </tr>
    <% end %>
  </table>
  
  <%= link_to "Add page or link" , new_admin_link_page_path %>
</div>

<div class="menus">
  These are what will display the pages (the menus). <br>You can only have one vertical, and one horizontal nav bar
  <% @menus.each do |m| %>
    <P>
    <%= m.is_horizontal ? "This is your horizontal Nav bar" : "This is your vertical nav bar (for when people are already logged in)"%>
    <% m.link_pages.each do |item| %>
      <div class="menu_item">
        <%= item.name %> <br />
      </div>
    <% end %>
    <div class="menu_empty"> 
     <% if m.link_pages.size < 1 %>
        <%= link_to("this bar currently has no pages", edit_admin_menu_bar_path(m)) %>
      <% else %>
        <%= link_to("edit this bar", edit_admin_menu_bar_path(m)) %>
     <% end %>
    </div>
    </P>
  <% end %>
  <%= link_to "Add Menu", new_admin_menu_bar_path %>
</div>
