<% if page.visible? %>
  <li <%= "class='submenu'" if page.sub_pages.count > 0 %>>
    <% if page.sub_pages.count > 0 %>
      <a href="#"><%=h page.name %></a>
      <ul>
        <% page.sub_pages.each do |sp| %>
          <%= render :partial => "/shared_elements/menu_bar_item", :locals => {:page => sp} %>
        <% end %>
      </ul>
    <% else %>
      <% if not page.is_link? %>
      <%= link_to_remote page.name, 
                    {
                      :url => { 
                               :controller => "admin/link_pages",
                               :action => "load_page",
                               :id => page.id
                               }
                    }
                     %>
      <% else %>
        <a href="<%=h page.content %>"><%=h page.name %></a>
      <% end %>
    <% end %>
  </li>
<% end %>