<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
  
  <%= javascript_include_tag "/javascripts/jquery-1.4.4.min.js" %>
  <%= javascript_include_tag "/javascripts/jquery-ui-1.8.6.custom.min.js" %>
  <script type="text/javascript">
    var $j = jQuery.noConflict();

    $j(document).ready(function(){
      if($j(".flash_notice")){
        $j(".flash_notice").delay(2500).fadeOut(1000);
      }
    });
  </script>
</head>
<body>
	<div class="body_container">
		<div class="header">
			<h1 class="site_title">Overlook Pointe Homeowner's Association</h1>
			
			<div class="user_status_container">
				<%= render :partial => "shared_elements/login_register"%>

				
				<% if current_user and current_user.membership != User::NOT_MEMBER %>
  				<div class="find_a_service search">
  					 <% form_tag({:controller => :services,
  					                     :action => :search }) do |f| %>
              <%= select_tag(:services, 
                        content_tag(:option, 'Select a service') + 
                       options_from_collection_for_select(Service.all, :id, :name))%>
        
            <% end %>
  				</div>
  				
  				<%= observe_field :services,
                :frequency=>0.5,
                :update=>'users',
                :url=>{
                  :controller => :services,
                  :action=>'single_service_search',
                  :only_path=>false},
                :with=>"'search='+encodeURIComponent(value)" %>
				<% end %> 
				
			</div>


			
			<%= render :partial => "shared_elements/navigation" %>
			
		</div>
		
		<div class="content">
		  <%= render :partial => "/shared_elements/side_nav" %>
			<div id="actual_content" class="actual_content">
	       <%= yield %>
			</div>
		</div>

		<%= "<p class=\"flash_notice\" style=\"color: green\">" + flash[:notice] + "</p>" if flash[:notice]%>


	</div>
</body>
</html>